body{
    background-color: white;
}

#size {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "main";
    
}
/*css do offers.html*/

.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.offers button {
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 100px;
    width: 400px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
}

.offers button:active {
    background-color: lavender;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

.offers button:not(:first-child) {
    margin-top: 10px;
}

button {
    background-color: #48abe0;
}

.image {
    display: none;
    position: relative;
}

img {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px #48abe0;
    background-color: #48abe0;
}

/* css do home.html*/

a {
    padding: 5px;
}

.app {
    grid-area: main;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black
}

.app button {
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 60px;
    width: 400px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
}

.app button:active {
    background-color: lavender;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

.app button:not(:first-child) {
    margin-top: 10px;
}

/* css do nearme.html*/

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.map iframe {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px #48abe0;
    background-color: #48abe0;
}

.map button {
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 60px;
    width: 400px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
}

.map button:active {
    background-color: lavender;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}	

.map button:not(:first-child) {
    margin-top: 10px;
}

/* css do Settings.html */

.settings{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.settings label{
    font-size: 25px;
}

.settings select {
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 100px;
    width: 400px;
    box-shadow: 0 2px 4px darkslategray;
    border-color: #48abe0;
}

.settings button {
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 100px;
    width: 400px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 10px;
}

.settings button:active {
    background-color: lavender;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

.settings input {
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 90px;
    width: 385px;
    box-shadow: 0 2px 4px darkslategray;
    border-color: #48abe0;
    margin-top: 10px;
    display: none;
}

#redeem {
    color: white;
    background-color: #48abe0;
    box-shadow: 0 2px 4px darkslategray;
    border-color: #48abe0;
    display: none;
}

/* css do Shops.html */
.op{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.op button{
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 100px;
    width: 400px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 10px;
}

.op button:active {
    background-color: lavender;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

/* css do restaurants.html */
.search{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.search select{
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 100px;
    width: 400px;
    box-shadow: 0 2px 4px darkslategray;
    border-color: #48abe0;

}

a{
    color: black;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}