body {
    background-color: grey;
}

#size {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main";
    width: 450px;
    height: 425px;
    margin: 70px auto;
    border-radius: 40px;
    background-color: black;
}

/*css do offers.html*/

#offersHead {
    grid-area: header;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 8px;
    font-size: 40px;
}

.offers {
    grid-area: main;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    height: 325px;
    padding-left: 37px;
}

.offers button {
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    height: 75px;
    width: 375px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
}

.offers button:active {
    background-color: lavender;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

.offers button:not(:first-child) {
    margin-top: 10px;
}

button {
    background-color: #48abe0;
}

.image {
    display: none;
    position: relative;
}

img {
    width: 390px;
    height: 310px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px #48abe0;
    background-color: #48abe0;
}

/* css do home.html*/

a {
    padding: 5px;
}

#homeHead {
    grid-area: header;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    font-size: 40px;
}

.app {
    grid-area: main;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 325px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: relative;
    justify-content: center;
}

.app button {
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 60px;
    width: 350px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
}

.app button:active {
    background-color: lavender;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

.app button:not(:first-child) {
    margin-top: 10px;
}

/* css do nearme.html*/

#nearmeHead {
    grid-area: header;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 10px;
    font-size: 40px;
}

.map {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map iframe {
    position: relative;
    top: 3px;
    width: 450px;
    height: 350px;
    border-radius: 40px;
    box-shadow: 0 2px 4px #48abe0;
    background-color: #48abe0;
}

#homeButton {
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 60px;
    width: 350px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 10px;
}

/* css do Settings.html */

#settingsHead {
    grid-area: header;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;

    font-size: 40px;
}

.settings {
    grid-area: main;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 250px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.settings select {
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    font-size: 25px;
    height: 60px;
    width: 350px;
    box-shadow: 0 4px 8px darkslategray;
    border-color: #48abe0;
}

.settings button {
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    height: 60px;
    margin-top: 10px;
    width: 350px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
}

.settings button:active {
    background-color: lavender;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

.settings input {
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 90px;
    width: 385px;
    box-shadow: 0 2px 4px darkslategray;
    border-color: #48abe0;
    margin-top: 10px;
    display: none;
}

#redeem {
    color: white;
    background-color: #48abe0;
    box-shadow: 0 2px 4px darkslategray;
    border-color: #48abe0;
    display: none;
}

/* css do Shops.html */

#shopsHead {
    grid-area: header;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;
    font-size: 40px;
}

.op {
    grid-area: main;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.op button {
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 60px;
    width: 350px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
}

.op button:active {
    background-color: lavender;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

/* css do restaurants.html */
.search {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    grid-area: main;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: black;
}

.search select {
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 100px;
    width: 400px;
    box-shadow: 0 2px 4px darkslategray;
    border-color: #48abe0;
}

a {
    color: black;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

/* css do SuperOne.html*/

#superOneHead {
    grid-area: header;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 8px;
    font-size: 40px;
}

.searchSuperOne {
    grid-area: main;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 325px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchSuperOne select {
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    height: 100px;
    width: 400px;
    box-shadow: 0 2px 4px darkslategray;
    border-color: #48abe0;

}

.imageTarget {
    width: 200px;
    height: 200px;
    position: relative;
}

#text {
    color: rgb(173, 150, 150);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 8px;
    font-size: 40px;
}